extends layout

block body
  div.container(ng-controller='AppCtrl', ng-init='messages = []; showSidebar = false')
    div.row
      div.col-md-8
        h1 CRBS
        form(ng-submit='addPassage()')
          div.input-group
            input.form-control(ng-model='userPassageRef')
            span.input-group-btn
              input.btn.btn-primary(type='submit', value='Add')
    hr
    div.panel.ng-cloak
      ul.list-inline
        li.col-md-4.passage-block(ng-repeat='passage in passages')
          a.close(ng-click="removePassage($index)") &times;
          h4.text-center.no-margin-bottom {{passage.passage}}
            select(ng-change="changeTranslation($index)", ng-model="passage.translation", ng-options="abbrv for abbrv in ['LEB','KJV','YLT', 'ESV', 'NKJV']")
          ul.list-inline.text-center
            li(ng-hide="passage.chapter == '1'")
              small
                a(ng-click="prevChapter($index)") Previous
            li
              small
                a(ng-click="expandChapter($index)") Expand
            li
              small
                a(ng-click="nextChapter($index)") Next
          p.passage-text(ng-bind-html="trustedHtml(passage.text)")
          div.mask(ng-show="passage.loading")
            h4 Loading...
    div.floating-toggle(ng-show="!showSidebar")
      button.btn(ng-click="showSidebar=true")
        i.icon-comment
    div.floating-sidebar.well(ng-show="showSidebar")
      a.close(ng-click="showSidebar = false") &times;
      h5 Users
      #user-list.panel.overflowable
        p(ng-repeat='user in users') {{user}}
      h5 Messages
      #message-list.panel.overflowable
        p(ng-repeat='message in messages') {{message.user}}: {{message.text}}
      form(ng-submit='sendMessage()')
        div.input-group.input-group-sm
          input.form-control(ng-model='message')
          span.input-group-btn
            input.btn.btn-sm.btn-primary(type='submit', value='Send')
      h5 Change your name
      p Your current user name is {{name}}
      form(ng-submit='changeName()')
        div.input-group.input-group-sm
          input.form-control(ng-model='newName')
          span.input-group-btn
            input.btn.btn-default(type='submit', value='Change name')

  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
