!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/cerulean/bootstrap.min.css", rel="stylesheet")
  body
    block body