/* app css stylesheet */

.overflowable {
  overflow-y: auto;
}

.overflowable p {
  margin: 0;
}

#user-list {
	height: 50px;
}

#message-list {
	height: 300px;
}

/* poor man's grid system */
.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}
