/* app css stylesheet */

.overflowable {
  overflow-y: auto;
}

.overflowable p {
  margin: 0;
}

#user-list {
	height: 50px;
}

#message-list {
	height: 300px;
}
.floating-sidebar, .floating-toggle {
	position: fixed;
	right: 5px;
	bottom: 10px;
}
.floating-sidebar {
	width: 250px;
}
.floating-toggle {
	width: 50px;
}
.passage-block {
	max-height: 300px;
	overflow-y: scroll;
}
