/* app css stylesheet */

.overflowable {
  overflow-y: auto;
}

.overflowable p {
  margin: 0;
}

#user-list {
	height: 50px;
}

#message-list {
	height: 300px;
}
.floating-sidebar, .floating-toggle {
	position: fixed;
	right: 5px;
	bottom: 10px;
}
.floating-sidebar {
	width: 250px;
}
.floating-toggle {
	width: 50px;
}
.panel:after{ content: "."; display: block; height: 0; font-size:0; clear: both; visibility:hidden; }
.passage-block {
	max-height: 300px;
	overflow-y: scroll;
}
.passage-block .list-inline {
	margin-bottom: 10px;
}
.passage-block h4 select {
	display: inline-block;
	margin-left: 10px;
}
.no-margin-bottom {
	margin-bottom: 0;
}
